.clock {

    // Variables.
    $c: &;
    $width: 326px;
    $colors: (
        light: #e6e6e6,
        dark: #262626,
        accent: #03a9f4,
    );

    // Mixins.
    @mixin tik-tok-transition {
        transition: transform .8s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    // Self.
    & {
        max-width: rem-calc($width);
        width: rem-calc($width);
        height: auto;
        position: relative;
        padding: rem-calc(30px);
    }

    // Body.
    #{$c}__body {
        width: 100%;
        position: relative;
        padding-bottom: 100%;
        background: map-get($colors, light);
        border-radius: 50%;
        box-shadow: rem-calc(5px) rem-calc(6px) rem-calc(20px) rgba(0, 0, 0, 0.3);
        border: rem-calc(2px) solid map-get($colors, dark);
    }

    #{$c}__minutes, #{$c}__seconds {
        $width: rem-calc(2px);
        
        width: $width;
        height: 100%;
        position: absolute;
        top: 0;
        left: calc(50% - #{$width/2});
        @include tik-tok-transition;
        mix-blend-mode: difference;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 13.5%;
            background: map-get($colors, accent);
        } 
    }

    #{$c}__minutes {
        &::after {
            mix-blend-mode: difference;
            background: map-get($colors, light);
        }
    }

    #{$c}__hours {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        overflow: hidden;

        svg {
            max-width: 100%;
            width: 100%;
            height: auto;
            transform: rotate(90deg) scaleX(-1);

            circle {
                stroke: map-get($colors, dark);
                fill: none;
                transition: .5s all ease-in-out;
            }
        }
    }

    &[data-period="am"] {
        #{$c}__body {
            background-color: map-get($colors, dark);
        }
        #{$c}__hours svg path {
            fill: map-get($colors, light);
        }
    }
}