@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    background: #e2e2e2;
}

body {
    min-height: 100%;
}

html, body {
    padding: 0;
    margin: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__inner {
        max-width: 100%;
        padding: rem-calc(30px);
        box-sizing: border-box;
    }
}

.copyrights {
    position: fixed;
    top: -8px;
    right: 0;
    padding: 16px;

    &__link {
        display: block;
        padding-top: 8px;
        opacity: .5;
        transition-duration: .3s;

        &:hover {
            opacity: 1;
        }
    }

    &__icon {
        max-width: 32px;
        height: auto;
    }
}
